<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proiect_Restaurante</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proiect_Restaurante.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Acasa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Restaurante/Index">Restaurante</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Rezervari/Index">Rezervari</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Recenzii/Index">Recenzii</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Clienti/Index">Clienti</a>
                        </li>
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#helpModal">Help</button>
            <!-- Fereastra modală de ajutor -->
            <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="helpModalLabel">Cum să folosești aplicația:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Adaugă aici informații de ajutor -->
                            <p>
                                1. Cum pot face o rezervare?

                                Includeți un ghid pas cu pas despre cum să utilizeze funcționalitatea de rezervare în aplicație.
                                Pot face rezervări la mai multe restaurante simultan?
 
                            <p>
                                2. Exista posibilitatea de a face rezervări pentru diferite restaurante în același timp.
                            </p>
                            <p>
                                Specificați detaliile pe care utilizatorii trebuie să le completeze pentru a finaliza o rezervare (număr de persoane, data, ora, etc.).
                               3. Cum pot să scriu o recenzie pentru un restaurant?

                                Oferiți ghid pas cu pas despre cum să adăugați recenzii și evaluări pentru restaurantele vizitate.
                                Pot să văd recenziile altor utilizatori înainte de a face o rezervare?
                            </p>
                            <p>
                               4. Explicați cum utilizatorii pot accesa și citi recenzii ale altor clienți pentru a face o alegere informată.
                                Ce informații despre restaurante sunt disponibile în aplicație?

                                Enumerați detaliile furnizate pentru fiecare restaurant, cum ar fi meniuri, orar de funcționare, adresa și altele.
                                Cum pot să contactez restaurantul pentru întrebări suplimentare?

                            </p>
                            <p>
                                Furnizați informații de contact pentru fiecare restaurant sau opțiuni de mesagerie prin intermediul aplicației.
                                Pot să fac rezervări pentru evenimente speciale sau grupuri mari?

                                Oferiți claritate cu privire la posibilitatea de a face rezervări pentru evenimente speciale sau grupuri mai mari.

                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Includeți Bootstrap JavaScript -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="text-align:center">
            &copy; 2023 - Sistem Gestiune Rezervari Restaurante - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>